body {
    background-color: black;
}

header {
    color: deepskyblue;
    font-style: italic;
    font-family: fantasy;
    font-size: xx-large;
    text-align: center;
}

.container {
    background-image: url(../images/Plogoblue.jpg);
    background-size: contain;
    background-position: top;
    background-repeat: repeat;
    padding: 20px;
    margin: 5%;
    width: 85%;
    height: 2100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 0, 0);
}

#title {
    color: black;
}

.questions {
    display: none;
}
.results {
    display: none;
    color: black;
}
#timer{
    display: none;
    color: black;
}
#timesUp{
    display: none;
    color: black;
}